<nav
  class="hidden md:block h-16 bg-black/70 backdrop-blur-md text-white transition-all duration-500 fixed top-5 w-3/5 ml-[20%] border-1 rounded-2xl border-blue-500 z-50"
>
  <ul class="flex h-full items-center justify-evenly">
    <li><a href="#about" class="hover:text-blue-400">About</a></li>
    <li><a href="#skills" class="hover:text-blue-400">Skills</a></li>
    <li><a href="#projects" class="hover:text-blue-400">Projects</a></li>
    <li><a href="#contact" class="hover:text-blue-400">Contact</a></li>
    <li>
      <a
        class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-600 transition"
        target="_blank"
        href="https://www.linkedin.com/in/edrickasper/"
      >
        Linkedin
      </a>
    </li>
  </ul>
</nav>
